/*El elemento espcial host: hace referencia al padre del contenido de este componente en particular*/
:host {
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
}
img {
  max-width: 100%;
}
